<div>
    <form method="post" data-bind="enterkey: validate">
    <div class="row">
        <div class="small-2 columns">
                <div class="row">
                    <div class="row">
                        <br />
                        <div class="small-12 columns"><input type="text" maxlength="15" placeholder="Username" data-bind="value: model.UserName, valueUpdate: 'afterkeydown'" /></div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="small-12 columns"><input type="password" maxlength="15" placeholder="Password" data-bind="value: model.UserPassword" /></div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="small-12 columns text-right">
                            <a href="#" class="button tiny selected" data-bind="click: validate"><i class="button-icon fi-check"></i>Login</a>
                        </div>
                    </div>
                </div>
        </div>
        <div class="small-10 columns">&nbsp;</div>
    </div>
    </form>
</div>