<div>
    <!--<pre data-bind="text: ko.toJSON($root.router.activeItem().title, null, 2)"></pre>-->
    <div class="top-header">
        <div class="left-header">
            <img class="top-header" data-bind="attr: { src: utility.virtualDirectory + '/content/images/logo.gif' }" />
        </div>
        <div class="right-header" data-bind="css { display_none: session.profile.photoUrl() === undefined }">
            <img data-dropdown="top-menu-drop" data-options="is_hover:true" class="top-header" data-bind="attr: { src: session.profile.photoUrl }" />
            <ul id="top-menu-drop" class="f-dropdown top-menu" data-dropdown-content>
                <li><a data-bind="click: logout">Logout</a></li>
            </ul>
        </div>
        <div class="loading" data-bind="css: { display_block: router.isNavigating() || utility.loading() }">
            <img class="loading" data-bind="attr: { src: utility.virtualDirectory + '/content/images/loading.gif' }" />
        </div>
        <div class="content">
            <div class="row tight">
                <div class="small-12 columns tight app-header">e-Pediatric Ophthalmology & Strabismus</div>
                <div class="small-12 columns tight">
                    <ul class="tabrow" data-bind="foreach: navigation.tabs">
                        <li data-bind="css: {selected: active }">
                            <a data-bind="click: $root.navigation.activateTab, text: title"></a>
                            <a class="tab-close" data-bind="click: $root.navigation.removeTab, css: { display_none: firstTab }">x</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tight">
        <div class="left-header" data-bind="css: { display_none: session.profile.isAuthenticated() === false }">
            <br />
            <a href="#home/patient" title="Patients" class="nav-icon"><i class="fi-home"></i></a>
            <br /><br />
            <a href="#queue" title="Print Queue" class="nav-icon"><i class="fi-print"></i></a>
            <br /><br />
            <a href="#home/user" title="Users" class="nav-icon"><i class="fi-torso-business"></i></a>
            <br /><br />
            <a href="#" title="Settings" class="nav-icon display_none"><i class="fi-widget"></i></a>
        </div>  
        <br />
        <div class="content"
                data-bind="router: { cacheViews: false }"></div>
        </div>
</div>
